$mdc-theme-primary: #37474F;
$mdc-theme-primary-light: #E1E3E4;
$mdc-theme-primary-dark: #333333;

$mdc-theme-orange: #F8B03D;
$mdc-theme-orange-dark: #EA5B28;
$mdc-theme-green: #8CBF44;
$mdc-theme-blue: #2FAAE1;
$mdc-theme-purple: #89549C;

$mdc-theme-secondary: #E0E0E0; // Gray 300
$mdc-theme-secondary-light: #F5F5F5; // Gray 100
$mdc-theme-secondary-dark: #212121; // Gray 900

$mdc-theme-footer: #d6dd2e;

$unit: 1rem;
$page-width: 920px;
$page-left: 11vw;

@import "./node_modules/material-components-web/material-components-web.scss";
@import "./node_modules/@scvo/common/old/common-styles.scss";
@import url(../node_modules/leaflet.markercluster/dist/MarkerCluster.css);
@import url(../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css);

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

.warning {
  background-color: $mdc-theme-orange-dark;
  p,
  strong,
  h2 {
    color: white;
  }
}

h1,
h2,
h3,
h4,
h5,
div,
p,
li,
td,
footer.mdc-layout__footer p,
p, li, .mdc-tab, footer h3, .mdc-chip, .mdc-card, .mdc-button, .mdc-select, .mdc-button, .mdc-form-field, .mdc-typography, .mdc-form-field, .mdc-text-field, .mdc-dialog__body, .mdc-dialog__title, .mdc-card__subtitle, .mdc-floating-label, .mdc-card__subtitle, .mdc-snackbar__text, .mdc-snackbar__label, .mdc-dialog__content, .mdc-dialog__actions, .mdc-drawer__subtitle, .mdc-textfield__input, .mdc-typography--body1, .mdc-typography--body2, .mdc-typography--title, .mdc-text-field__input, .mdc-top-app-bar__title, .mdc-card__title--large, .mdc-typography--caption, .mdc-menu .mdc-list-item, .supplimentary-list-title, .mdc-typography--headline, .mdc-typography--headline1, .mdc-typography--headline2, .mdc-typography--headline3, .mdc-typography--headline4, .mdc-typography--headline5, .mdc-typography--headline6, .mdc-typography--headline7, .mdc-card__supporting-text, .mdc-select__selected-text, .mdc-dialog__header__title, .mdc-drawer .mdc-list-item, .mdc-select__native-control, .mdc-typography--subheading2, .mdc-list-item__secondary-text, .mdc-simple-menu .mdc-list-item, .mdc-temporary-drawer .mdc-list-item, .mdc-drawer--temporary .mdc-list-item, .mdc-list {
  font-family: 'Ubuntu', Arial, sans-serif;
}
.mdc-top-app-bar__title, .mdc-typography--headline, .mdc-typography--headline1, .mdc-typography--headline2, .mdc-typography--headline3, .mdc-typography--headline4, .mdc-typography--headline5, .mdc-typography--headline6, .mdc-typography--headline7, .mdc-drawer__content-heading, .mdc-drawer .mdc-list-group__subheader, h1, h2, h3, h4, h5,
strong {
  color: $mdc-theme-primary-dark;
  font-weight: 700 !important;
}
::-moz-selection {
  color: white;
  background: $mdc-theme-primary-dark;
}
::selection {
  color: white;
  background: $mdc-theme-primary-dark;
}
figure,
iframe {
  margin: 0;
  padding: 0;
}
audio,
video,
iframe,
img {
  max-width: 100%;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: $mdc-theme-orange-dark;
}

.mdc-typography {
  background-color: white;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

header,
main {
  margin-left: $page-left;
}
footer .container-content {
  padding-left: $page-left;
}
header {
  max-width: $page-width;
  padding-top: $page-left;
  .mdc-top-app-bar__section--logo {
    margin-left: -3.5rem;
  }
}

@media screen and (max-width: 960px) {
  header .mdc-top-app-bar__section--logo {
    margin-left: -4rem;
  }
}
@media screen and (max-width: 700px) {
  header {
    padding-top: 14vw;
    .mdc-top-app-bar__section--nav {
      top: -14vw !important;
    }
    .mdc-top-app-bar__section--logo {
      margin-left: -2.5rem;
      zoom: 0.6;
    }
    .mdc-top-app-bar__section--partner {
      zoom: .7;
      margin-right: .25rem;
    }
  }
  .mdc-top-app-bar__main {
    margin-left: -11vw;
  }
  main,
  footer .footer-main,
  footer .footer-copyright {
    margin-left: 0;
  }
  footer.mdc-layout__footer {
    background-size: contain !important;
  }
}

.container-fluid {
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
.container-content {
  max-width: $page-width;
}

.mdc-top-app-bar {
  height: auto;
  width: auto;
  position: relative;
  background-color: transparent;
}
header {
  .container-fluid {
    .mdc-top-app-bar__upper {
      height: auto !important;
      background-color: transparent;
      min-height: 130px;
      // .mdc-top-app-bar__section {
      //   background-color: $mdc-theme-primary;
      // }
      .mdc-top-app-bar__section--logo,
      .mdc-top-app-bar__section--partner {
        img {
          max-height: 64px;
          margin: 0 -($unit/5) 0 0;
          vertical-align: middle;
        }
      }
      .mdc-top-app-bar__section--logo {
        padding: 0 0 0 $unit;
      }
      .mdc-top-app-bar__section--align-end.mdc-top-app-bar__section--partner,
      .mdc-top-app-bar__section--logo {
        flex: 1 0 auto;
      }
      .mdc-top-app-bar__section--partner {
        img {
          max-height: 100px;
        }
      }
      .mdc-top-app-bar__section--align-middle.mdc-top-app-bar__section--partner {
        img {
          max-height: 130px;
          margin: 0 auto;
        }
      }
      .mdc-top-app-bar__section--nav {
        position: absolute;
        top: -$page-left;
        right: $unit*(3/4);
        background: $mdc-theme-green;
      }
      .mdc-top-app-bar__section--align-end {
        padding-right: 0 !important;
      }
      .mdc-top-app-bar__user {
        flex: 0 0 auto;
        padding-right: $unit/2 !important;
      }
      .mdc-top-app-bar__title {
        color: $mdc-theme-primary;
        vertical-align: middle;
        font-size: 1.75rem;
        letter-spacing: -0.05rem;
        font-weight: 700;
        line-height: 1.3;
        display: block;
        margin-left: $unit*1.25;
        white-space: normal;
      }
      .mdc-top-app-bar__title:hover {
        text-decoration: none;
      }
      .mdc-top-app-bar__navigation-icon {
        color: white;
      }
    }
    .mdc-top-app-bar__lower {
      height: auto !important;
      .mdc-typography--headline3 {
        margin: 0 !important;
      }
    }
    #main-tab-bar {
      margin-top: $unit;
    }
    .mdc-tab {
      padding: 0 !important;
      .mdc-tab__text-label {
        color: $mdc-theme-primary-dark !important;
        border-right: 2px solid $mdc-theme-footer;
        padding: 0 $unit*(3/4);
      }
    }
    .mdc-tab:first-child {
      padding-left: $unit*(1/3) !important;
    }
    .mdc-tab:last-child .mdc-tab__text-label {
      border-right: none;
    }
    .mdc-tab--active,
    .mdc-tab:hover {
      .mdc-tab__text-label {
        color: $mdc-theme-orange-dark !important;
        // border-bottom-color: $mdc-theme-primary-dark !important;
      }
    }
  }
}

.mdc-drawer--open .mdc-list-item__user .mdc-list-item__text::after {
  width: 10%;
}

.mdc-drawer--open .mdc-list-item__user .mdc-list-item__graphic,
.hidden {
  display: none !important;
}

.mdc-button[disabled] {
  pointer-events: none;
  background-color: #cccccc !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-centre {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.pull-centre {
  margin-left: auto !important;
  margin-right: auto !important;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.align-centre {
  display: flex;
  justify-content: center !important;
  align-items: center;
}

.v-padding {
  padding-top: $unit/2 !important;
  padding-bottom: $unit/2 !important;
}

.v-padding-full {
  padding-top: $unit !important;
  padding-bottom: $unit !important;
}

.h-padding {
  padding-left: $unit/2 !important;
  padding-right: $unit/2 !important;
}

.h-padding-full {
  padding-left: $unit !important;
  padding-right: $unit !important;
}

.x-padding {
  padding: $unit/2 !important;
}

.x-padding-full {
  padding: $unit !important;
}

.t-padding {
  padding-top: $unit/2 !important;
}

.b-padding {
  padding-bottom: $unit/2 !important;
}

.l-padding {
  padding-left: $unit/2 !important;
}

.r-padding {
  padding-right: $unit/2 !important;
}

.t-padding-full {
  padding-top: $unit !important;
}

.b-padding-full {
  padding-bottom: $unit !important;
}

.l-padding-full {
  padding-left: $unit !important;
}

.r-padding-full {
  padding-right: $unit !important;
}

.v-margin {
  margin-top: $unit/2 !important;
  margin-bottom: $unit/2 !important;
}

.v-margin-full {
  margin-top: $unit !important;
  margin-bottom: $unit !important;
}

.v-margin-full-bottom {
  margin-bottom: $unit !important;
}

.v-margin-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.h-margin {
  margin-left: $unit/2 !important;
  margin-right: $unit/2 !important;
}

.h-margin-full {
  margin-left: $unit !important;
  margin-right: $unit !important;
}

.t-margin {
  margin-top: $unit/2 !important;
}

.b-margin {
  margin-bottom: $unit/2 !important;
}

.l-margin {
  margin-left: $unit/2 !important;
}

.r-margin {
  margin-right: $unit/2 !important;
}

.t-margin-full {
  margin-top: $unit !important;
}

.b-margin-full {
  margin-bottom: $unit !important;
}

.l-margin-full {
  margin-left: $unit !important;
}

.r-margin-full {
  margin-right: $unit !important;
}

.x-margin {
  margin: $unit/2 !important;
}

.x-margin-full {
  margin: $unit !important;
}

.border {
  border-style: solid;
  border-width: 1px;
}

.t-border {
  border-top-style: solid;
  border-top-width: 1px;
}

.l-border {
  border-left-style: solid;
  border-left-width: 1px;
}

.b-border {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.r-border {
  border-right-style: solid;
  border-right-width: 1px;
}

.rounded {
  border-radius: 4px;
}

.tl-rounded {
  border-top-left-radius: 4px;
}

.tr-rounded {
  border-top-right-radius: 4px;
}

.bl-rounded {
  border-bottom-left-radius: 4px;
}

.br-rounded {
  border-bottom-right-radius: 4px;
}

.t-rounded {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.l-rounded {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.b-rounded {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.r-rounded {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rounded-full {
  border-radius: 16px;
}

.tl-rounded-full {
  border-top-left-radius: 16px;
}

.tr-rounded-full {
  border-top-right-radius: 16px;
}

.bl-rounded-full {
  border-bottom-left-radius: 16px;
}

.br-rounded-full {
  border-bottom-right-radius: 16px;
}

.t-rounded-full {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.l-rounded-full {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.b-rounded-full {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.r-rounded-full {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

@media (max-width: 479px) {
  .no-float-sm {
    float: auto !important;
  }
  .no-t-margin-sm {
    margin-top: 0 !important;
  }
  .no-b-margin-sm {
    margin-bottom: 0 !important;
  }
  .no-l-margin-sm {
    margin-left: 0 !important;
  }
  .no-r-margin-sm {
    margin-right: 0 !important;
  }
  .no-v-margin-sm {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .no-h-margin-sm {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .no-t-padding-sm {
    padding-top: 0 !important;
  }
  .no-b-padding-sm {
    padding-bottom: 0 !important;
  }
  .no-l-padding-sm {
    padding-left: 0 !important;
  }
  .no-r-padding-sm {
    padding-right: 0 !important;
  }
  .no-v-padding-sm {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .no-h-padding-sm {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .t-margin-sm {
    margin-top: $unit/2 !important;
  }
  .b-margin-sm {
    margin-bottom: $unit/2 !important;
  }
  .l-margin-sm {
    margin-left: $unit/2 !important;
  }
  .r-margin-sm {
    margin-right: $unit/2 !important;
  }
  .v-margin-sm {
    margin-top: $unit/2 !important;
    margin-bottom: $unit/2 !important;
  }
  .h-margin-sm {
    margin-left: $unit/2 !important;
    margin-right: $unit/2 !important;
  }
  .t-margin-full-sm {
    margin-top: $unit !important;
  }
  .b-margin-full-sm {
    margin-bottom: $unit !important;
  }
  .l-margin-full-sm {
    margin-left: $unit !important;
  }
  .r-margin-full-sm {
    margin-right: $unit !important;
  }
  .v-margin-full-sm {
    margin-top: $unit !important;
    margin-bottom: $unit !important;
  }
  .h-margin-full-sm {
    margin-left: $unit !important;
    margin-right: $unit !important;
  }
  .t-padding-sm {
    padding-top: $unit/2 !important;
  }
  .b-padding-sm {
    padding-bottom: $unit/2 !important;
  }
  .l-padding-sm {
    padding-left: $unit/2 !important;
  }
  .r-padding-sm {
    padding-right: $unit/2 !important;
  }
  .v-padding-sm {
    padding-top: $unit/2 !important;
    padding-bottom: $unit/2 !important;
  }
  .h-padding-sm {
    padding-left: $unit/2 !important;
    padding-right: $unit/2 !important;
  }
  .t-padding-full-sm {
    padding-top: $unit !important;
  }
  .b-padding-full-sm {
    padding-bottom: $unit !important;
  }
  .l-padding-full-sm {
    padding-left: $unit !important;
  }
  .r-padding-full-sm {
    padding-right: $unit !important;
  }
  .v-padding-full-sm {
    padding-top: $unit !important;
    padding-bottom: $unit !important;
  }
  .h-padding-full-sm {
    padding-left: $unit !important;
    padding-right: $unit !important;
  }
}

// Footer ======================================================================
.mdc-theme--footer-dark-bg {
  background-color: $mdc-theme-footer !important;
}

footer.mdc-layout__footer {
  border-top: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: white;
  box-shadow: none;
  padding-top: 18vw;
  h3 {
    color: $mdc-theme-secondary-dark;
    font-weight: 700;
    border-bottom: none;
    font-size: 1.1rem;
    margin: $unit 0 0;
    text-transform: uppercase;
  }
  .about a,
  a {
    color: $mdc-theme-secondary-dark;
  }
  .about a:hover,
  a:hover {
    color: $mdc-theme-secondary-dark;
  }
  .mdc-layout-grid {
    p {
      color: $mdc-theme-secondary-dark;
    }
  }
  .fa-ul {
    .fa-li {
      .fas,
      .fal,
      .far,
      .fab {
        color: $mdc-theme-secondary-dark;
      }
    }
  }
  .footer-copyright {
    margin-left: $page-left;
    background-color: transparent;
    p {
      font-size: 1rem;
    }
    p,
    a {
      color: $mdc-theme-secondary-dark;
    }
  }
  .smaller {
    margin-top: $unit;
    font-size: 0.93rem;
    margin-bottom: $page-left/4;
  }
}
@media screen and (max-width: 1200px) {
  footer.mdc-layout__footer {
    // background-size: cover;
    // background-position: top;
    // padding-top: 18vw;
    background-color: $mdc-theme-footer;
  }
}

.partner-logos {
  max-width: 821px;
  margin-left: -.5rem;
  img {
    height: 100px;
  }
}

.map-content {
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
}

:focus {
  outline: none;
}
.pull-right {
  float: right;
}

.wp-block-file__button {
  background: $mdc-theme-primary;
  color: white !important;
  text-decoration: none;
  padding: $unit/4 $unit/2;
  margin-left: $unit;
  margin-bottom: $unit/5;
  border-radius: $unit;
}
.wp-block-file__button:hover {
  text-decoration: none;
  background: $mdc-theme-orange-dark;
}
.wp-block-file {
  margin-bottom: $unit/2;
}

::-moz-selection {
  color: white;
  background: black;
}
::selection {
  color: white;
  background: black;
}
::-webkit-input-placeholder {
  color: #777;
}
::-ms-input-placeholder {
  color: #777;
}
::-moz-placeholder {
  color: #777;
}