<div class="container-content mpower-page mpower-home t-padding">
  <div class="b-padding-full t-margin b-margin-full">
    {{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}
  </div>
</div>