<div class="container-content mpower-page t-padding">
  <div class="b-padding-full t-margin b-margin-full">
    <h1 class="mdc-typography--headline4">
      Coronavirus (COVID-19) update
    </h1>
    <p>
      During the current COVID-19 pandemic, the teams in each country are continuing to follow their own government guidelines. All mPower teams have adapted their working practices and the project is continuing to support beneficiaries through telephone and digital support. We encourage all who need support to <a href="/contact">get in touch</a>. As a project we support those who are most vulnerable to the virus, and therefore want to do all we can to help at this difficult time. Stay safe, stay home and stay healthy and with our support we hope you will stay connected.
    </p>
  </div>
</div>
